@include main-area {
    .cards {
        .card {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: calResponsiveValues(32px, 1185px) !important;
            padding-right: calResponsiveValues(32px, 1185px) !important;
            margin-bottom: 30px;
            border: 1px solid #DFE0EB;
            border-radius: 8px;

            &:hover {
                border-color: $acent_default;
                color: $acent_default;

                h3,
                p {
                    color: inherit;
                }


            }

            h3 {

                font-weight: bold;
                font-size: 19px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.4px;
                color: $grayscal_gray;
            }

            p {
                font-weight: bold;
                font-size: 40px;
                line-height: 50px;
                text-align: center;
                letter-spacing: 1px;
                color: $grayscal_black;


            }
        }

    }

    .today_trends {
        border: 1px solid $grayscal_divider;
        border-radius: 8px;
        overflow-x: hidden;
        background-color: white;
        margin-bottom: 30px;

        .col-md-8 {
            width: calResponsiveValues(780px, 1122px) !important;
            padding-left: calResponsiveValues(32px, 1122px) !important;
            padding-right: calResponsiveValues(32px, 1122px) !important;

            .heading {

                padding-top: 24px;
                margin: 0;

                h3 {
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 24px;
                    letter-spacing: 0.4px;
                    text-align: left;
                    color: $grayscal_black;
                    margin: 0 !important;
                    margin-bottom: 8px !important;
                }

                p {
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.1px;
                    color: $grayscal_gray;
                }

            }

            .chart_heading {
                margin-bottom: 54px;
                h3 {
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.1px;
                    color: $grayscal_gray;
                }

                .chart_legend{
                    gap: 0 32px;
                    
                    button{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: $grayscal_gray;
                        gap: 0 8px;

                        .line{
                            width: 16px;
                            height: 2px;
                            display: inline-block;
                            border-radius: 100px;
                        }
                    }
                }

                
            }

            .chart_container{
                padding-right: 30px;
            }




        }

        .col-md-4 {
            padding: 0px;
            width: calResponsiveValues(342px, 1122px) !important;

            .card {

                * {
                    margin: 0 !important;
                }

                &:last-child {
                    border-bottom: none !important;
                }

                border-radius: 0;
                border: 1px solid $grayscal_divider !important;
                border-top: 0 !important;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                padding-top: 24px;
                padding-bottom: 24px;
                width: 100%;

                h3 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 0.3px;
                    color: $grayscal_gray;
                    margin-bottom: 6px !important;
                }

                p {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 30px;
                    text-align: center;
                    letter-spacing: 0.3px;
                    color: $grayscal_black;
                    margin: 0;
                }


            }
        }
    }

    .ticket_tasks {
        .wrapper {
            background-color: #fff;
            padding-top: 32px;
            padding-bottom: 8px;
            border: 1px solid $grayscal_divider;
            border-radius: 8px;

            .heading {
                padding-right: calResponsiveValues(32px, 1185px) !important;
                padding-left: calResponsiveValues(32px, 1185px) !important;
                margin-bottom: 8px;

                h3 {
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 24px;
                    letter-spacing: 0.4px;
                    color: $grayscal_black;
                    margin: 0 !important;
                }

                a {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: $acent_default;
                    text-decoration: none;
                }


            }

            h4 {
                font-weight: 600;
                font-size: 12px;
                line-height: 15.06px;
                letter-spacing: 0.1 px;
                padding-right: calResponsiveValues(32px, 1185px) !important;
                padding-left: calResponsiveValues(32px, 1185px) !important;

                span {

                    font-size: 12px !important;
                    line-height: 16px !important;
                    letter-spacing: 0.1px !important;
                    color: $grayscal_gray !important;
                }


            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    padding-right: calResponsiveValues(32px, 1185px) !important;
                    padding-left: calResponsiveValues(32px, 1185px) !important;
                    height: 65px;
                    border-bottom: 1px solid $grayscal_divider;

                    &:last-child {
                        border-bottom: none;
                    }

                    input {
                        width: 20px;
                        height: 20px;
                        border: 1px solid $grayscal-light_gray;
                        border-radius: 100%;
                        margin-right: 16px;
                        margin-top: 0 !important;


                        &:focus {
                            outline: none !important;
                            box-shadow: none;
                        }

                        &:checked {
                            border-color: $acent_default !important;
                            background-color: $acent_default !important;
                        }
                    }

                    h3 {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        color: $grayscal_black;
                        margin: 0;
                        flex: 1;

                        &.text-gray {
                            color: $grayscal-light_gray;
                        }
                    }

                    span {

                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: right;
                        letter-spacing: 0.2px;
                        color: $grayscal_gray;

                        &.btn_gray {
                            border-radius: 8px;
                            background-color: $grayscal-lightest_gray !important;
                            padding: 0 !important;
                            width: 24px;
                            height: 24px;
                            font-size: 27px;
                            font-weight: 300;
                            color: $grayscal_gray !important;
                            cursor: pointer;

                        }

                        &.btn {
                            padding: 5px 12px !important;
                            font-weight: bold;
                            font-size: 11px;
                            line-height: 14px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            letter-spacing: 0.5px;
                            text-transform: uppercase;
                            color: white;

                            &.btn_green {
                                background-color: $green_default;
                            }

                            &.btn_yellow {
                                background-color: $yellow_default;
                            }

                            &.btn_graylightest {
                                background-color: $grayscal-lightest_gray;
                                color: $grayscal_gray;
                            }
                        }

                    }


                }
            }

        }

    }
}