@import 'mixins';

$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1399px;







@include media-down($lg) {
    .sidebar {
        .heading{
            h2{
                font-size: 15px;
            }
        }
    }
}

@include media-down($md) {

    .sidebar {
        width: 30% !important;
        height: 100vh;
        position: relative !important;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;

        .heading{
            h2{
                font-size: 19px;
            }
        }
    }

    .main {
        width: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .heading {

            .fas {
                display: inline-block !important;
                cursor: pointer;
            }

            .icons {
                width: auto !important;
                margin-left: 10px;
                gap: 15px;
                order: 2;

                img {
                    cursor: pointer;

                    &:first-child {
                        margin-right: 0 !important;
                    }
                }
            }

            .avatar {
                order: 1;
            }

        }
    }
}

@include media-down($sm) {
    .sidebar {
        width: 50% !important;
        height: 100vh;
        position: relative !important;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
    }

    .main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .heading {

            .fas {
                display: inline-block !important;
                cursor: pointer;
            }

            .icons {
                width: auto !important;
                margin-left: 10px;
                gap: 15px;
                order: 2;

                img {
                    cursor: pointer;

                    &:first-child {
                        margin-right: 0 !important;
                    }
                }
            }

            .avatar {
                order: 1;
            }

        }

        .today_trends {

            .col-sm-3,
            .col-sm-7 {
                width: 100% !important;
            }
        }

        .ticket_tasks {
            .col-xs-12:first-child {
                margin-bottom: 30px;
            }
        }
    }
}

@include media-down($xs) {
    .sidebar {
        width: 80% !important;
        height: 100vh;
        position: relative !important;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
    }

    .main {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .heading {

            .fas {
                display: inline-block !important;
                cursor: pointer;
            }

            .icons {
                width: auto !important;
                margin-left: 10px;
                gap: 15px;
                order: 2;

                img {
                    cursor: pointer;

                    &:first-child {
                        margin-right: 0 !important;
                    }
                }
            }

            .avatar {
                order: 1;
            }

        }

        .today_trends {

            .col-sm-3,
            .col-sm-7 {
                width: 100% !important;
            }
        }

        .ticket_tasks {
            .col-xs-12:first-child {
                margin-bottom: 30px;
            }
        }

        .table_body{
            overflow-x: scroll;

            .table_row{
                width: 1122px;
            }
        }
    }
}

