@include main-area {


    .table {
        padding-top: 32px;
        background-color: white;
        border: 1px solid $grayscal_divider;
        border-radius: 8px;
        

        * {
            margin: 0;
            padding: 0;
        }

        .table_heading {
            padding: 0 calResponsiveValues(32px, 1122px) 48px;

            h2 {
                font-weight: bold;
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0.4px;
                color: $grayscal_black;
            }

            .sorting {
                gap: 0 32px;

                .sorting_icon {
                    img {
                        height: 16px;
                        width: 16px;
                        margin-right: 8px;
                    }

                    span {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        color: $grayscal-dark_gray;
                    }
                }
            }
        }

        .table_body {
            .table_row {
                padding: 0 calResponsiveValues(32px, 1122px);
                border-bottom: 1.5px solid $grayscal_divider;
                cursor: pointer;
                .head-1 {
                    flex: 1;
                }
        
                .head-2 {
                    width: calResponsiveValues(248px, 1122px);
                }
        
                .head-3 {
                    width: calResponsiveValues(180px, 1122px);
                }
        
                .head-4 {
                    width: calResponsiveValues(150px, 1122px);
                }

                &.table_head {
                    padding-bottom: 12px;
                    border-bottom: 1.5px solid $grayscal_divider;
        
                    h3 {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 0.2px;
                        color: $grayscal_gray;
                    }
        
                }

                &:hover {
                    background-color: $grayscale_bg;
                }

                .table_cell {
                    height: 92px;
                    img.guy {
                        margin-right: 24px;
                    }

                    h3 {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        color: $grayscal_black;
                        margin-bottom: 4px;
                    }

                    p {
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.1px;
                        color: $grayscal-light_gray;

                    }

                    .notify {
                        font-size: 11px;
                        line-height: 14px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        border-radius: 100px;
                        padding: 5px 12px;

                        &.bg-red {
                            background-color: $red_default;
                        }

                        &.bg-yellow {
                            background-color: $yellow_default;
                        }

                        &.bg-green {
                            background-color: $green_default;
                        }
                    }


                }
            }
        }

        .table_pagination {
            padding: 0 calResponsiveValues(32px, 1122px);
            height: 72px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.3px;
            color: $grayscal_gray;
            gap: 0 50px;

            .row_per_page {


                p {
                    margin-right: 8px;
                }

                span {
                    color: $grayscal-dark_gray;
                }

                img {
                    cursor: pointer;
                }
            }

            .pagination_controls {
                .current_page {
                    margin-right: 33px;
                }

                img {
                    cursor: pointer;

                    &:nth-last-child(2) {
                        margin-right: 12px;
                    }
                }
            }
        }


    }



}